{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-3 home-left-sidebar-wrapper">
            <p>Categories</p>
        </div>
        <div class="col-md-6 home-main-wrapper">
            <p>Main</p>
        </div>
        <div class="col-md-3 home-right-sidebar-wrapper">
            <p>Top</p>
        </div>
    </div>

{% endblock %}